/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-gutenbergpack-block-divider  {
  margin: 0 auto;
  max-width: 740px;
}

.gutenbergpack_divider {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}